.bg-custom{
    background-color: rgb(54, 57, 55);
}

#we{
    background-image: url(./Untitled-1.png);
    background-size: cover;
}

#wo{
    background-image: url(./Untitled-2.png);
    background-size: contain;
}
